html {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
  background-color: #292d46;
  margin: 0;
  /*background-image: url("../images/stardust.png");*/
  overflow-x: hidden;
  background-image: url("../images/inspiration-geometry.png");
}

/*Scrollspy nav stuff*/

/*.navigation {
  width: 0;
  background-color: none;
  height: 0;
}

.navigation ul{
  width: 0;
  margin:  0;
  padding: 0;
}


.navigation ul li {
  display: none;
  opacity: 0;
}*/


.top {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: url('./images/totoro_wallpaper.jpg') no-repeat center;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: none;
}

#clouds{
  padding: 100px 0 0 0;
  height: 100vh;
}
.cloud {
  width: 200px; height: 60px;
  background: #fff;

  border-radius: 200px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;

  position: relative;
}
.cloud:before, .cloud:after {
  content: '';
  position: relative;
  background: #fff;
  width: 100px; height: 80px;
  position: absolute; top: -15px; left: 10px;

  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;

  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  -moz-transform: rotate(30deg);
}
.cloud:after {
  width: 120px; height: 120px;
  top: -55px; left: auto; right: 15px;
}

.x1 {
  opacity: 0.9;

  -webkit-animation: moveclouds 20s linear infinite;
  -moz-animation: moveclouds 20s linear infinite;
  -o-animation: moveclouds 20s linear infinite;
}


.x2 {
  left: 90px;

  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0.6;


  -webkit-animation: moveclouds 22s linear infinite;
  -moz-animation: moveclouds 22s linear infinite;
  -o-animation: moveclouds 22s linear infinite;
}

.x3 {
  left: 100px; top: -200px;

  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.8;

  -webkit-animation: moveclouds 25s linear infinite;
  -moz-animation: moveclouds 25s linear infinite;
  -o-animation: moveclouds 25s linear infinite;
}

.x4 {
  left: 500px; top: -250px;

  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
  opacity: 0.75;

  -webkit-animation: moveclouds 18s linear infinite;
  -moz-animation: moveclouds 18s linear infinite;
  -o-animation: moveclouds 18s linear infinite;
}

.x5 {
  left: 350px; top: -150px;

  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.8;

  -webkit-animation: moveclouds 18s linear infinite;
  -moz-animation: moveclouds 18s linear infinite;
  -o-animation: moveclouds 18s linear infinite;
}

.x6{
  left: 700px; top: -300px;

  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0.6;

  -webkit-animation: moveclouds 18s linear infinite;
  -moz-animation: moveclouds 18s linear infinite;
  -o-animation: moveclouds 18s linear infinite;
}

.x7{
  left: 450px; top: -300px;

  opacity: 0.9;

  -webkit-animation: moveclouds 22s linear infinite;
  -moz-animation: moveclouds 22s linear infinite;
  -o-animation: moveclouds 22s linear infinite;
}

@-webkit-keyframes moveclouds {
  0% {margin-left: 100vw;}
  100% {margin-left: -80vw}
}
@-moz-keyframes moveclouds {
  0% {margin-left: 1000px;}
  100% {margin-left: -1000px;}
}
@-o-keyframes moveclouds {
  0% {margin-left: 1000px;}
  100% {margin-left: -1000px;}
}

#clouds p {
  left: -50px; top: -250px;
  position: relative;
  font-size: 15vmin;
  color: white;
  text-align: center;

  -webkit-animation-duration: 6s;
  -moz-animation-duration: 6s;
  -o-animation-duration: 6s;

  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
}

#arrow_intro img, #arrow_profile img, #arrow_stack img, #arrow_projects img{
  font-size: 30px;
  opacity: 0.6;

  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -o-animation-duration: 4s;
}
#arrow_intro, #arrow_stack{
  width: 100vw;
  position:relative;
  text-align: center;
  color: white;

  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -o-animation-duration: 4s;
}
#arrow_intro{
  top:-65px;
}
#arrow_stack{
  top: 90px;
}

.middle {
  height: 200vh;
  font-size: 3vmin;
  color: white;
  text-align: center;
  margin: 0;
  background-image: url("../images/inspiration-geometry.png");

  background: -moz-linear-gradient(top, rgba(41, 45, 70, 1) 0%, rgba(41, 45, 70, 0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(41, 45, 70, 0)), color-stop(100%,rgba(41, 45, 70, 0)));
  background: -webkit-linear-gradient(top, rgba(41, 45, 70, 0.9) 0%, rgba(41, 45, 70, 0) 100%);
  background: -o-linear-gradient(top, rgba(41, 45, 70, 1) 0%, rgba(41, 45, 70, 0) 100%);
}
.middle h1{
  text-decoration: underline;
}
.middle .profile, .tech_stack, .projects, .contact{
  height: 50vh;
  margin: 0;
}
.middle .profile .profile_header{
  margin-bottom: 7%;
}
.middle .profile .profile_header h3{
  margin-top: 0;
}
.middle .tech_stack i{
  margin: 0 3%;
  font-size: 12vmin;
}
.middle .tech_stack span{
  margin-top: 2%;
  display: block;
}

.middle .projects{
  width: 100vw;
  text-align: center;
}
#project_divs{
  height: 40vh;
}

.projects h4{
  display: inline-block;
  height: 7vh;
}
.projects a{
  text-decoration: none;
}
.projects a:visited{
  color: inherit;
}
.projects #project_divs div{
  margin:10% 5% 0 5%;
  margin-top: 1%;
  display: inline-block;
  width: 20vw;
  height: 25vh;
  border-radius: 10px;
}
.projects #project_divs i{
  margin:0 5% 0 5%;
}

.projects #stylist{
  border: 1px solid white;
  color: #58cdcd;
  background-color: #292d46;
}
.projects #jungle{
  border: 1px solid white;
  color: #dd9999;
  background-color: #292d46;
}
.projects #illaoi{
  border: 1px solid white;
  color: #35d18a;
  background-color: #292d46;
}

.contact p{
  margin-top: 0;
}
.contact h2{
  /*margin-bottom: 0;*/
}
.contact h4{
  margin-top: 0;
}
.contact a{
  margin:10px 10px 0 10px;
  color: white;
  text-decoration: none;
}
.contact a:visited{
  color:white;
}

/*@media screen and (max-width: 1020px) {
  body{
    width: auto;
  }
  p{ font-size: 2em; }
}*/







